.productContainer {
    background-color: transparent;
}

.tableContainer {
    margin: 3rem;
    padding: 3rem;
    max-width: 1020px;
    margin: 3rem auto;
}

table {
    width: 100%; /* make the table fill the container */
    margin: 0 auto; /* ensure inner table stays centered */
}

.miniImageContainer {
    max-width: 100px;
}

/* To somehow separate the image and the product name from each other */
a.normalLink {
    margin-left: 1em;
}