.productContainer {
    background-color: transparent;
}

.tableContainer {
    max-width: 1020px;
    margin: 0 auto;
}

/* On small screens, reduce the padding */
@media (max-width: 900px) {
    .tableContainer {
        padding: 1rem; /* less padding on mobile */
    }
}

table {
    width: 100%; /* make the table fill the container */
    margin: 0 auto; /* ensure inner table stays centered */
    border-collapse: separate;
    border-spacing: 1em;
    font-size: 1em;
}

tbody th {
    font-weight: normal;
}

.miniImageContainer {
    max-width: 100px;
}

/* To somehow separate the image and the product name from each other */
a.normalLink {
    margin-left: 1em;
}

.colorTheme {
    color:rgb(1 50 31);
}