body {
    padding: 3rem;
    background-color: rgb(1, 50, 50);
    color:rgb(140, 243, 234);
    font-family: Arial;
    font-size: 18px;
    line-height: 30px;
}

a{
  color:rgb(45, 240, 224);
}

a:active, a:hover{
  color:rgb(240 243 243);
}

h1, h2, h3,
h4, h5, h6,
.customHeading {
    color:rgb(45, 240, 224);
}

.basicContainer{
    padding-top:1rem;
    padding-bottom:1rem;
}

.customHeading {
    display: block;
    font-size: 3em;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
}