body {
    background-color: rgb(94 189 151);
    color:rgb(1 50 31);
    font-family: Arial;
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
}

a.normalLink {
    color:rgb(1 50 31);
    text-decoration-line: underline;
}

img{
    width: 100%;
}

/* Keep same area of navbar contents in big screens */
@media (min-width: 1600px) {
    .container {
        min-width: 1600px;
    }
}

.navbar {
    height: 4em;
    text-align: left;
}

.navbar-dark, .bg-dark {
    background-color: rgb(1 50 31) !important;
    color: rgb(192 249 226) !important;
}

nav a {
    color: rgb(192 249 226);
    text-decoration-line: none;
}

nav a:hover {
    color: white;
}

/* To avoid vertical scroll bar caused by bootstrap */
.row {
    margin-left: 0;
    margin-right: 0;
}

.col-sm-4, .col-sm-6, .col-6, .col-md-4, .col-12, .col-sm-8{
    place-items: center;
}

.textStyle {
    font-size: 16px;
    font-family: Arial;
}

.customHeading {
    display: block;
    font-size: 3em;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    line-height: 1em;
}

.darkContainer, .lightContainer, .productContainer, .dataContainer{
    border-radius: 10px;
    margin: 2.5rem;
    padding: 2.5rem;
}

.productContainer{
    max-width: 500px;
    min-height: 90%;
}

.shopContainer {
    max-width: 1600px;
    padding: 2rem;
    margin: 0 auto;
}

.productDataContainer {
    padding-top: 2rem;
}

.productName{
    font-weight: bold;
    font-size: 20px;
}

/* On small screens, reduce the padding */
@media (max-width: 900px) {
    .shopContainer {
        padding: 1rem; /* less padding on mobile */
    }
    .darkContainer, .lightContainer, .productContainer, .dataContainer{
        margin: 1rem;
    }
}

.unitSelector, .lightContainer, .productContainer, .dataContainer {
    background-color: rgb(192 249 226);
    color:rgb(1 50 31);
}

.unitSelector, .unitSelectorContainer button {
    background-color: transparent;
}

.unitSelectorContainer {
    max-width: 135px;
}

.darkContainer {
    background-color: rgb(1 50 31);
    color:rgb(192 249 226);
    text-decoration: none;
}

button {
    border: none;
}

.basicButtonStyle {
    color: rgb(192 249 226);
    background-color:rgb(1 50 31);
    border-radius: 20px;
    height: 40px;
    padding: 0 1em;
    float: right;
}

.basicButtonStyle:hover, .basicButtonStyle:active {
    background-color: rgb(192 249 226);
    color: rgb(1 50 31);
}

.unitSelectorContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    border-color: rgb(1 50 31);
    border-style: solid;
}

.unitSelector {
    width: 40px;
    border: none;
    text-align: right;
}

/* Hiding up and down arrows of <input class="unitSelector">
https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
*/

/* Chrome, Safari, Edge, Opera */
input.unitSelector::-webkit-outer-spin-button,
input.unitSelector::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input.unitSelector[type=number] {
    -moz-appearance: textfield;
}