body {
    background-color: rgb(94 189 151);;
    color:rgb(1 50 31);
    font-family: Arial;
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
}

.customHeading {
    display: block;
    font-size: 3em;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

.darkContainer, .lightContainer{
    margin: 3rem;
    padding: 3rem;
    padding-top:1rem;
    padding-bottom:1rem;
}

.lightContainer, .nav_style a:hover{
    background-color: rgb(192 249 226);
    color:rgb(1 50 31);
}

.darkContainer, .nav_style, .nav_style a{
    background-color: rgb(1 50 31);
    color:rgb(192 249 226);
    text-decoration: none;
}

.nav_style a{
    padding:3rem;
}

.nav_style {
    float: left;
    display: block;
    overflow: hidden;
    width:100%;
    padding: 1rem;
}